@model IEnumerable<Proyecto_Final___Programacion_Web_3.Models.user>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout-Inside.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idUser }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idUser }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idUser })
        </td>
    </tr>
}

</table>
